body {
    background-color: rgb(112, 128, 144);
}

#main-container {
    background-color: rgb(217, 217, 217);
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    width: 640px;
}

#main-container div {
    border: 0px solid rgb(0, 0, 0);
    height: 40px;
    outline: 1px dashed rgb(120, 120, 120);
    width: 40px;
}

#main-container div:hover {
    background-color: rgb(255, 192, 203);
}

.filled {
    background-color: rgb(0, 0, 0);
}